@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<ul id="slide-out" class="sidenav sidenav-fixed">
    <li class="logo">
        <a id="logo-container" href="/" class="brand-logo">
            <object id="front-page-logo" type="image/jpeg" data="/res/perfil.jpg"></object>
        </a>
    </li>
    <li class="bold"><a href="/Home/Conocimientos">Conocimientos</a></li>
    <li class="bold"><a href="/Home/ExperienciaLaboral">Experiencia Laboral</a></li>
    <li class="bold"><a href="/Home/FormacionAcademica">Formacion Academica</a></li>
    <li class="bold"><a href="/Home/Idiomas">Idiomas</a></li>
    <li class="bold"><a href="/Home/CursosCertificaciones">Cursos-Certificaciones</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>