@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<li class="logo-title">
    <h5>
        <a href="/" class="brand-logo">
            Jorge Tom&aacutes Guzm&aacuten
        </a>    
    </h5>
</li>
<li class="logo">
    <a id="logo-container" asp-action="index" asp-controller="home">
        <object id="front-page-logo" type="image/jpeg" data="/res/perfil.jpg"></object>
    </a>
</li>
<li class="bold"><a asp-action="index" asp-controller="home">Inicio</a></li>
<li class="bold"><a asp-action="conocimientos" asp-controller="home">Conocimientos</a></li>
<li class="bold"><a asp-action="experiencialaboral" asp-controller="home">Experiencia Laboral</a></li>
<li class="bold"><a asp-action="formacionacademica" asp-controller="home">Formacion Academica</a></li>
<li class="bold"><a asp-action="contacto" asp-controller="home">Contacto</a></li>
