@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<li class="logo-title">
    <h5>
        <a href="/" class="brand-logo">
            Jorge Tomas Guzman
        </a>    
    </h5>
</li>
<li class="logo">
    <a id="logo-container" href="/" class="brand-logo">
        <object id="front-page-logo" type="image/jpeg" data="/res/perfil.jpg"></object>
    </a>
</li>
<li class="bold"><a href="/Home/Conocimientos">Conocimientos</a></li>
<li class="bold"><a href="/Home/ExperienciaLaboral">Experiencia Laboral</a></li>
<li class="bold"><a href="/Home/FormacionAcademica">Formacion Academica</a></li>
<li class="bold"><a href="/Home/Contacto">Contacto</a></li>
