/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

header, main, footer{
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

ul.sidenav.sidenav-fixed li.logo, ul.sidenav li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 165px;
    line-height: 200px;
}

ul.sidenav.sidenav-fixed li.logo:hover, ul.sidenav.sidenav-fixed li.logo #logo-container:hover, 
ul.sidenavli.logo:hover, ul.sidenav li.logo #logo-container:hover {
    background-color: transparent;
}


ul.sidenav.sidenav-fixed li.logo-title {
    text-align: center;
}


 {
    background-color: transparent;
}


ul.sidenav li.logo-title {
    text-align: center;
}


.header {
    color: #ee6e73;
    font-weight: 300;
}
