@{
    ViewData["Title"] = "Jorge Tomas Guzman";
}
<div class="container">
    <ul class="collapsible black-text white">
        <li>
            <div class="collapsible-header" lang="en">
                <i class="material-icons">computer</i>
                Development
            </div>
            <div class="collapsible-header" lang="es">
                <i class="material-icons">computer</i>
                Desarrollo
            </div>
            <div class="collapsible-body">
                <span>
                    <div class="row">
                        <div class="col s12">
                            <ul id="tabs" class="tabs">
                                <li class="tab col l3"><a class="active" href="#asp">ASP.NET</a></li>
                                <li class="tab col l3"><a href="#java">Java</a></li>
                                <li class="tab col l3"><a href="#python">Python</a></li>
                                <li class="tab col l3"><a href="#genexus">Genexus</a></li>
                            </ul>
                        </div>
                        <div id="asp" class="col s12">
                            <p lang="en">
                                Academic knowledge aquired mainly during my Computer System Analysis carrer and through self-learning.
                                <br />
                                Experience in small proyects for personal use and small applications to automatize my job tasks.
                            </p>
                            <p lang="es">
                                Conocimientos Academicos adquiridos principalmente durante la carrera de Analista de sistemas e investigaci&oacuten propia(autodidacta).
                                <br />
                                Experiencia en pequeños proyectos para uso personal y pequeñas aplicaciones para automatizar tareas laborales.
                            </p>
                        </div>
                        <div id="java" class="col s12">
                            <p lang="en">
                                Academic knowledge aquired mainly during my Computer System Analysis carrer and through self-learning.
                                <br />
                                Experience in small proyects for personal use and small applications to automatize my job tasks.
                            </p>
                            <p lang="es">
                                Conocimientos Academicos adquiridos principalmente durante la carrera de Analista de sistemas e investigaci&oacuten propia(autodidacta).
                                <br />
                                Experiencia en pequeños proyectos para uso personal y pequeñas aplicaciones para automatizar tareas laborales.
                            </p>
                        </div>
                        <div id="python" class="col s12">
                            <p lang="en">
                                Academic knowledge aquired mainly during my Computer System Analysis carrer and through self-learning.
                                <br />
                                Experience in small proyects for personal use.
                            </p>
                            <p lang="es">
                                Conocimientos Academicos adquiridos principalmente durante la carrera de Analista de sistemas e investigaci&oacuten propia(autodidacta).
                                <br />
                                Experiencia en pequeños proyectos para uso personal.
                            </p>
                        </div>
                        <div id="genexus" class="col s12">
                            <p lang="en">
                                Knowledge gained through my job experience in Tecnologistica Consultores S.A.
                                <br />
                                Job experience in the development of a logistics application.
                            </p>
                            <p lang="es">
                                Conocimientos adquiridos laboralmente durante mi experiencia en Tecnologist&iacuteca consultores S.A.
                                <br />
                                Experiencia laboral con el desarrollo de una aplicaci&oacuten de logistica.
                            </p>
                        </div>
                    </div>
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header" lang="en">
                <i class="material-icons">view_agenda</i>
                Databases
            </div>
            <div class="collapsible-header" lang="es">
                <i class="material-icons">view_agenda</i>
                Bases de datos
            </div>
            <div class="collapsible-body">
                <span>
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col l3"><a class="active" href="#sqlserver">SQLServer</a></li>
                                <li class="tab col l3"><a href="#mysql">MySQL</a></li>
                                <li class="tab col l3"><a href="#oracle">Oracle</a></li>
                                <li class="tab col l3"><a href="#informix">Informix</a></li>
                            </ul>
                        </div>
                        <div id="sqlserver" class="col s12">
                            <p lang="en">
                                Knowledge gained mainly through my job experience
                                <br />
                                Experience in several proyects during my job experience.
                                Creation of new databases, table modifications/creation, external connectors, stored procedure creation, etc.
                            </p>
                            <p lang="es">
                                Conocimientos adquiridos principalmente durante mi experiencia laboral.
                                <br />
                                Experiencia en variados proyectos durante mi experiencia laboral.
                                Creaci&oacuten de Bases de datos, creaci&oacuten/modificaci&oacuten de tablas, creaci&oacuten de conexiones, creaci&oacuten de stored procedures, etc.
                            </p>
                        </div>
                        <div id="mysql" class="col s12">
                            <p lang="en">
                                Knowledge aquired mainly during my Computer System Analysis carrer and through self-learning.
                                <br />
                                Experience in small proyects for personal use and small applications to automatize my job tasks.
                            </p>
                            <p lang="es">
                                Conocimientos Academicos adquiridos principalmente durante la carrera de Analista de sistemas e investigaci&oacuten propia(autodidacta).
                                <br />
                                Experiencia en pequeños proyectos para uso personal y pequeñas aplicaciones para automatizar tareas laborales.
                            </p>
                        </div>
                        <div id="oracle" class="col s12">
                            <p lang="en">
                                Knowledge aquired mainly during my Computer System Analysis carrer and through self-learning.
                                <br />
                                Experience in small proyects for personal use.
                            </p>
                            <p lang="es">
                                Conocimientos Academicos adquiridos principalmente durante la carrera de Analista de sistemas e investigaci&oacuten propia(autodidacta).
                                <br />
                                Experiencia en pequeños proyectos para uso personal.
                            </p>
                        </div>
                        <div id="informix" class="col s12">
                            <p lang="en">
                                Job experience in one of Xerox proyects
                                <br />
                                Development of connectors between informix and one of our document management applications
                            </p>
                            <p lang="es">
                                Experiencia en uno de los proyectos durante mi experiencia laboral.
                                <br />
                                Experiencia laboral con el desarrollo de conectores de una aplicaci&oacuten de gesti&oacuten documental.
                            </p>
                        </div>
                    </div>
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header" lang="en">
                <i class="material-icons">assessment</i>
                Proyect Management
            </div>
            <div class="collapsible-header" lang="es">
                <i class="material-icons">assessment</i>
                Gestion de proyectos
            </div>
            <div class="collapsible-body">
                <span>
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col">
                                    <a class="active" href="#analisis" lang="en">
                                        Requirements analysis
                                    </a>
                                    <a class="active" href="#analisis" lang="es">
                                        An&aacutelisis de requerimientos
                                    </a>
                                </li>
                                <li class="tab col">
                                    <a href="#planeamiento" lang="en">
                                        Planning
                                    </a>
                                    <a href="#planeamiento" lang="es">
                                        Planeamiento
                                    </a>
                                </li>
                                <li class="tab col ">
                                    <a href="#pv" lang="en">
                                        Post-Sales
                                    </a>
                                    <a href="#pv" lang="es">
                                        Post Venta
                                    </a>
                                </li>
                                <li class="tab col">
                                    <a href="#implementaciones" lang="en">
                                        Implementations
                                    </a>
                                    <a href="#implementaciones" lang="es">
                                        Implementaciones
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="analisis" class="col s12">
                            <p lang="en">
                                Knowledge aquired mainly during my Computer System Analysis carrer and through my job carrer.
                                <br />
                                Experience in analyzing the clients needs to select a product that would meet the client needs, setting the objectives of the proyect and establishing the client's expectations.
                            </p>
                            <p lang="es">
                                Conocimientos adquiridos principalmente durante mis estudios y experiencia laboral.
                                <br />
                                Experiencia en el an&aacutelisis de los requerimientos del cliente para poder brindarle una solucion que cumpla con todas sus necesidades y poder establecer los objetivos del proyecto.
                            </p>
                        </div>
                        <div id="planeamiento" class="col s12">
                            <p lang="en">
                                Knowledge aquired mainly during my Computer System Analysis carrer and through my job carrer.
                                <br />
                                Experience in planning implementations, time management and setting the client expectations.
                            </p>
                            <p lang="es">
                                Conocimientos adquiridos principalmente durante mis estudios y experiencia laboral.
                                <br />
                                Experiencia en planeamiento de implementaci&oacuten, gestion de tiempos y expectativas con los clientes.
                            </p>
                        </div>
                        <div id="pv" class="col s12">
                            <p lang="en">
                                Knowledge aquired mainly during my Computer System Analysis carrer and through my job carrer.
                                <br />
                                Experience in post-sales product presentations.
                            </p>
                            <p lang="es">
                                Conocimientos adquiridos principalmente durante mis estudios y experiencia laboral.
                                <br />
                                Experiencia en presentaciones de producto post-venta.
                            </p>
                        </div>
                        <div id="implementaciones" class="col s12">
                            <p lang="en">
                                Knowledge aquired mainly during my Computer System Analysis carrer and through my job carrer.
                                <br />
                                Experience implementing a wide spectrum of software solutions in several type of clients and infrastructures.
                            </p>
                            <p lang="es">
                                Conocimientos adquiridos principalmente durante mis estudios y experiencia laboral.
                                <br />
                                Experiencia en implementaci&oacuten de todo tipo de herramienta de software en variados tipos de empresas e infraestructuras.
                            </p>
                        </div>
                    </div>
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header" lang="en">
                <i class="material-icons">settings</i>
                Infrastructure
            </div>
            <div class="collapsible-header" lang="es">
                <i class="material-icons">settings</i>
                Infraestructura
            </div>
            <div class="collapsible-body">
                <span>
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col l3">
                                    <a class="active" href="#servidores" lang="en">
                                        Servers
                                    </a>
                                    <a class="active" href="#servidores" lang="es">
                                        Servidores
                                    </a>
                                </li>
                                <li class="tab col l3">
                                    <a href="#redes" lang="en">
                                        Networking
                                    </a>
                                    <a href="#redes" lang="es">
                                        Redes
                                    </a>
                                </li>
                                <li class="tab col l3">
                                    <a href="#pcs">
                                        Pcs
                                    </a>
                                </li>
                                <li class="tab col l3">
                                    <a href="#perifericos" lang="en">
                                        Peripherals
                                    </a>
                                    <a href="#perifericos" lang="es">
                                        Perif&eacutericos
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="servidores" class="col s12">
                            <p lang="en">
                                Knowledge aquired mainly through my job carrer.
                                <br />
                                Experience managing, installing, configuring and mantaining servers; installing applications and configuring virtual servers farms.
                            </p>
                            <p lang="es">
                                Conocimientos adquiridos principalmente durante mi experiencia laboral.
                                <br />
                                Experiencia en administraci&oacuten, instalaci&oacuten, configuraci&oacuten y mantenimiento de servidores. Instalaci&oacuten de aplicativos. Configuracion de granja de servidores virtuales con VMWare VCenter.
                            </p>
                        </div>
                        <div id="redes" class="col s12">
                            <p lang="en">
                                Knowledge aquired mainly through my job carrer.
                                <br />
                                Experience managing and mantaining networks. Fortigate firewalls configuration.
                            </p>
                            <p lang="es">
                                Conocimientos adquiridos principalmente durante mi experiencia laboral.
                                <br />
                                Experiencia en administracion y mantenimiento de redes. Configuracion de firewalls Fortigate
                            </p>
                        </div>
                        <div id="pcs" class="col s12">
                            <p lang="en">
                                Knowledge aquired through my whole life (managing, repairing, changing parts, etc.)
                                <br />
                                Experience in every kind of pc repair and maintenance.
                            </p>
                            <p lang="es">
                                Conocimientos adquiridos a lo largo de toda mi vida (administrando, reparando, cambiando partes, etc.)
                                <br />
                                Experiencia en todo tipo de reparacion y mantenimiento de Pcs
                            </p>
                        </div>
                        <div id="perifericos" class="col s12">
                            <p lang="en">
                                Knowledge aquired mainly through my job carrer.
                                <br />
                                Experience with a lot of peripherals as printers, scanners, fingerprint scanners, qr scanners, barcode scanners, etc.
                            </p>
                            <p lang="es">
                                Conocimientos adquiridos principalmente durante mi experiencia laboral.
                                <br />
                                Experiencia con gran cantidad de perifericos como impresoras, scanners, scanners de huellas digitales, scanners de c&oacutedigos qr, scanners de c&oacutedigos de barras, etc.
                            </p>
                        </div>
                    </div>
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header" lang="en">
                <i class="material-icons">text_format</i>
                Languages
            </div>
            <div class="collapsible-header"lang="es">
                <i class="material-icons">text_format</i>
                Idiomas
            </div>
            <div class="collapsible-body">
                <span>
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col l6">
                                    <a class="active" href="#ingles" lang="en">
                                        English
                                        <p lang="es">Ingles</p>
                                    </a>
                                    <a class="active" href="#ingles" lang="es">
                                        Ingles
                                    </a>
                                </li>
                                <li class="tab col l6">
                                    <a href="#frances" lang="en">
                                        French
                                    </a>
                                    <a href="#frances" lang="es">
                                        Frances
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="ingles" class="col s12">
                            <p lang="en">Bilingual</p>
                            <p lang="es">Bilingüe</p>
                            <br />
                        </div>
                        <div id="frances" class="col s12">
                            <p lang="en">Basic</p>
                            <p lang="es">B&aacutesico</p>
                        </div>
                    </div>
                </span>
            </div>
        </li>
    </ul>
</div>