@{
    ViewData["Title"] = "Jorge Tomas Guzman";
}

<ul class="title-bar">
    <li lang="en"><h1>Contact Information</h1></li>
    <li lang="es"><h1>Informaci&oacuten de contacto</h1></li>
</ul>
<div class="container" lang="en">
    <p class="caption"><b>Phone/whatsapp:</b> (+549) 11 5404 9759</p>
    <p class="caption"><b>Mail:</b> <a href="mailto:tomass.guzman@gmail.com">tomass.guzman@gmail.com</a></p>
    <p class="caption"><b>Linkedin:</b> <a href="https://www.linkedin.com/in/tomas-guzman/" target="_blank">https://www.linkedin.com/in/tomas-guzman/</a></p>
    <p class="caption"><b>Github:</b> <a href="https://github.com/ParadoxARG" target="_blank">https://github.com/ParadoxARG</a></p>
    <p class="caption"><b>Adress:</b> Av. Ricardo Balbin 2558 1°A</p>
    <p class="caption"><b>P.C.:</b> 1428</p>
</div>
<div class="container" lang="es">
    <p class="caption"><b>Telefono/whatsapp:</b> (+549) 11 5404 9759</p>
    <p class="caption"><b>Mail:</b> <a href="mailto:tomass.guzman@gmail.com">tomass.guzman@gmail.com</a></p>
    <p class="caption"><b>Linkedin:</b> <a href="https://www.linkedin.com/in/tomas-guzman/" target="_blank">https://www.linkedin.com/in/tomas-guzman/</a></p>
    <p class="caption"><b>Github:</b> <a href="https://github.com/ParadoxARG" target="_blank">https://github.com/ParadoxARG</a></p>
    <p class="caption"><b>Direccion:</b> Av. Ricardo Balbin 2558 1°A</p>
    <p class="caption"><b>C.P.:</b> 1428</p>
</div>