@{
    ViewData["Title"] = "Jorge Tomas Guzman";
}

<h2 class="header">Datos de contacto</h2>
<p class="caption"><b>Telefono/whatsapp:</b> (+549) 11 5404 9759</p>
<p class="caption"><b>Mail:</b> <a href="mailto:tomass.guzman@gmail.com">tomass.guzman@gmail.com</a></p>
<p class="caption"><b>Direccion:</b> Av. Ricardo Balbin 2558 1°A</p>
<p class="caption"><b>Linkedin:</b> <a href="https://www.linkedin.com/in/tomas-guzman/" target="_blank">https://www.linkedin.com/in/tomas-guzman/</a></p>