@{
    ViewData["Title"] = "Jorge Tomas Guzman";
}
<div class="container" lang="en">
    <ul class="collapsible black-text white">
        <li>
            <div class="collapsible-header">Fortalein S.A.</div>
            <div class="collapsible-body">
                March 2018 - Today
                <br />
                <br />Proyect development and implementation.
                <br />User requirments analysis.
                <br />VMWare VCenter. Servidores and PCs administration.
                <br />SAP administration.
                <br />Fortigate administration.
                <br />Networking administration.
                <br />Infrastructure support.
            </div>
        </li>
        <li>
            <div class="collapsible-header">Xerox Argentina I.C.S.A.</div>
            <div class="collapsible-body">
                July 2015 - March 2018
                <br />
                <br />Proyect development and implementation.
                <br />User requirments analysis.
                <br />Post-sales support.
                <br />Pre-sales presentation.
            </div>
        </li>
        <li>
            <div class="collapsible-header">Tecnologistica Consultores S.A.</div>
            <div class="collapsible-body">
                April 2014 - July 2015
                <br />
                <br />Genexus development.
                <br />Implementations of our product.
                <br />Support.
            </div>
        </li>
        <li>
            <div class="collapsible-header">Metodo Empresarial y Laboral S.A.</div>
            <div class="collapsible-body">
                January 2010 - April 2014
                <br />
                <br />Infrastructure support.
            </div>
        </li>
    </ul>
</div>
<div class="container" lang="es">
    <ul class="collapsible black-text white">
        <li>
            <div class="collapsible-header">Fortalein S.A.</div>
            <div class="collapsible-body">
                Marzo 2018 - Actualidad
                <br />
                <br />Desarrollo e implementaci&oacuten de proyectos.
                <br />An&aacutelisis de requerimientos de los usuarios.
                <br />Administracion de VMWare VCenter. Servidores y PCs.
                <br />Administracion de SAP.
                <br />Administracion de Fortigate.
                <br />Administracion de Networking.
                <br />Soporte de infraestructura.
            </div>
        </li>
        <li>
            <div class="collapsible-header">Xerox Argentina I.C.S.A.</div>
            <div class="collapsible-body">
                Julio 2015 - Marzo 2018
                <br />
                <br />Desarrollo e implementaci&oacuten de proyectos.
                <br />An&aacutelisis de requerimientos de los usuarios.
                <br />Soporte Post-Venta.
                <br />Presentaciones Pre-Venta.
            </div>
        </li>
        <li>
            <div class="collapsible-header">Tecnologistica Consultores S.A.</div>
            <div class="collapsible-body">
                Abril 2014 - Julio 2015
                <br />
                <br />Desarrollo en Genexus.
                <br />Implementaciones de la plataforma.
                <br />Soporte de la plataforma.
            </div>
        </li>
        <li>
            <div class="collapsible-header">Metodo Empresarial y Laboral S.A.</div>
            <div class="collapsible-body">
                Enero 2010 - Abril 2014
                <br />
                <br />Soporte de Infraestructura.
            </div>
        </li>
    </ul>
</div>