@{
    ViewData["Title"] = "Jorge Tomas Guzman";
}
<div class="container">
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">Fortalein S.A.</div>
            <div class="collapsible-body">
                Marzo 2018 - Actualidad
                <br />
                <br />Desarrollo e implementaci&oacuten de proyectos.
                <br />An&aacutelisis de requerimientos de los usuarios.
                <br />Administracion de VMWare VCenter. Servidores y PCs.
                <br />Administracion de SAP.
                <br />Administracion de Fortigate.
                <br />Administracion de Networking.
                <br />Soporte de infraestructura.
            </div>
        </li>
        <li>
            <div class="collapsible-header">Xerox Argentina I.C.S.A.</div>
            <div class="collapsible-body">
                Julio 2015 - Marzo 2018
                <br />
                <br />Desarrollo e implementaci&oacuten de proyectos.
                <br />An&aacutelisis de requerimientos de los usuarios.
                <br />Soporte Post-Venta.
                <br />Presentaciones Pre-Venta.
            </div>
        </li>
        <li>
            <div class="collapsible-header">Tecnologistica Consultores S.A.</div>
            <div class="collapsible-body">
                Abril 2014 - Julio 2015
                <br />
                <br />Desarrollo en Genexus.
                <br />Implementaciones de la plataforma.
                <br />Soporte de la plataforma.
            </div>
        </li>
        <li>
            <div class="collapsible-header">Metodo Empresarial y Laboral S.A.</div>
            <div class="collapsible-body">
                Enero 2010 - Abril 2014
                <br />
                <br />Soporte de Infraestructura.
            </div>
        </li>
    </ul>
</div>