@{
    ViewData["Title"] = "Jorge Tomas Guzman";
}

<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">5</i></div>
        <div class="collapsible-body">
            <span>
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s3"><a class="active" href="#asp">ASP.NET</a></li>
                            <li class="tab col s3"><a class="active" href="#java">Java</a></li>
                            <li class="tab col s3"><a class="active" href="#python">Python</a></li>
                            <li class="tab col s3"><a class="active" href="#genexus">Genexus</a></li>
                        </ul>
                    </div>
                    <div id="asp" class="col s12">
                        Conocimientos Academicos adquiridos principalmente durante la carrera de Analista de sistemas e investigaci&oacuten propia(autodidacta).
                        <br />
                        Experiencia en pequeños proyectos para uso personal y pequeñas aplicaciones laborales.
                    </div>
                    <div id="java" class="col s12">
                        Conocimientos Academicos adquiridos principalmente durante la carrera de Analista de sistemas e investigaci&oacuten propia(autodidacta).
                        <br />
                        Experiencia en pequeños proyectos para uso personal y pequeñas aplicaciones laborales.
                    </div>
                    <div id="python" class="col s12">
                        Conocimientos Academicos adquiridos principalmente durante la carrera de Analista de sistemas e investigaci&oacuten propia(autodidacta).
                        <br />
                        Experiencia en pequeños proyectos para uso personal.
                    </div>
                    <div id="genexus" class="col s12">
                        Conocimientos adquiridos laboralmente durante mi experiencia en Tecnologist&iacuteca consultores S.A.
                        <br />
                        Experiencia laboral con el desarrollo de una aplicaci&oacuten de logistica.
                    </div>
                </div>
            </span>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">view_agenda</i>Bases de datos</div>
        <div class="collapsible-body">
            <span>
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s3"><a class="active" href="#sqlserver">SQLServer</a></li>
                            <li class="tab col s3"><a class="active" href="#mysql">MySQL</a></li>
                            <li class="tab col s3"><a class="active" href="#oracle">Oracle</a></li>
                            <li class="tab col s3"><a class="active" href="#informix">Informix</a></li>
                        </ul>
                    </div>
                    <div id="sqlserver" class="col s12">
                        Conocimientos adquiridos principalmente durante mi experiencia laboral.
                        <br />
                        Experiencia en variados proyectos durante mi experiencia laboral.
                        Creaci&oacuten de Bases de datos, creaci&oacuten/modificaci&oacuten de tablas, creaci&oacuten de conexiones, creaci&oacuten de stored procedures, etc.
                    </div>
                    <div id="mysql" class="col s12">
                        Conocimientos Academicos adquiridos principalmente durante la carrera de Analista de sistemas e investigaci&oacuten propia(autodidacta).
                        <br />
                        Experiencia en pequeños proyectos para uso personal y pequeñas aplicaciones laborales.
                    </div>
                    <div id="oracle" class="col s12">
                        Conocimientos Academicos adquiridos principalmente durante la carrera de Analista de sistemas e investigaci&oacuten propia(autodidacta).
                        <br />
                        Experiencia en pequeños proyectos para uso personal.
                    </div>
                    <div id="informix" class="col s12">
                        Experiencia en uno de los proyectos durante mi experiencia laboral.
                        <br />
                        Experiencia laboral con el desarrollo de conectores de una aplicaci&oacuten de gesti&oacuten documental.
                    </div>
                </div>
            </span>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">assessment</i>Proyect Management</div>
        <div class="collapsible-body">
            <span>
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s3"><a class="active" href="#analisis">An&aacutelisis de requerimientos</a></li>
                            <li class="tab col s3"><a class="active" href="#planeamiento">Planeamiento</a></li>
                            <li class="tab col s3"><a class="active" href="#pv">Post Venta</a></li>
                            <li class="tab col s3"><a class="active" href="#implementaciones">Implementaciones</a></li>
                        </ul>
                    </div>
                    <div id="analisis" class="col s12">
                        Conocimientos adquiridos principalmente durante mis estudios y experiencia laboral.
                        <br />
                        Experiencia en el an&aacutelisis de los requerimientos del cliente para poder brindarle una solucion que cumpla con todas sus necesidades y poder establecer los objetivos del proyecto.
                    </div>
                    <div id="planeamiento" class="col s12">
                        Conocimientos adquiridos principalmente durante mis estudios y experiencia laboral.
                        <br />
                        Experiencia en planeamiento de implementaci&oacuten, gestion de tiempos y expectativas con los clientes.
                    </div>
                    <div id="pv" class="col s12">
                        Conocimientos adquiridos principalmente durante mis estudios y experiencia laboral.
                        <br />
                        Experiencia en presentaciones de producto post-venta.
                    </div>
                    <div id="implementaciones" class="col s12">
                        Conocimientos adquiridos principalmente durante mis estudios y experiencia laboral.
                        <br />
                        Experiencia en implementaci&oacuten de todo tipo de herramienta de software en variados tipos de empresas.
                    </div>
                </div>
            </span>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">settings</i>Infraestructura</div>
        <div class="collapsible-body">
            <span>
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s3"><a class="active" href="#servidores">Servidores</a></li>
                            <li class="tab col s3"><a class="active" href="#redes">Redes</a></li>
                            <li class="tab col s3"><a class="active" href="#pcs">Pcs</a></li>
                            <li class="tab col s3"><a class="active" href="#perifericos">Perif&eacutericos</a></li>
                        </ul>
                    </div>
                    <div id="servidores" class="col s12">
                        Conocimientos adquiridos principalmente durante mi experiencia laboral.
                        <br />
                        Experiencia en administraci&oacuten, instalaci&oacuten, configuraci&oacuten y mantenimiento de servidores. Instalaci&oacuten de aplicativos. Configuracion de granja de servidores virtuales con VMWare VCenter.
                    </div>
                    <div id="redes" class="col s12">
                        Conocimientos adquiridos principalmente durante mi experiencia laboral.
                        <br />
                        Experiencia en administracion y mantenimiento de redes. Configuracion de firewalls Fortigate
                    </div>
                    <div id="pcs" class="col s12">
                        Conocimientos Academicos adquiridos principalmente mediante investigaci&oacuten propia(autodidacta).
                        <br />
                        Experiencia en pequeños proyectos para uso personal.
                    </div>
                    <div id="perifericos" class="col s12">
                        Experiencia en uno de los proyectos durante mi experiencia laboral.
                        <br />
                        Experiencia en impresoras, telefonos ips y todo tipo de perifericos de oficina.
                    </div>
                </div>
            </span>
        </div>
    </li>
</ul>