@{
    ViewData["Title"] = "Jorge Tomas Guzman";
}
<div class="container">
    @*english*@
    <ul class="collapsible black-text white" lang="en">
        <li>
            <div class="collapsible-header">O.R.T. - Title: Computer Systems Analyst</div>
            <div class="collapsible-body">
                January 2015 - In course
                <br />
                <br />18 approved subjects.
                <br />16 pending subjects.
                <br />Finishing year: 2019
            </div>
        </li>
        <li>
            <div class="collapsible-header">Saint Brendan's Collegue - Title: Bachellor with maths orientation</div>
            <div class="collapsible-body">
                January 1998 - December 2010
            </div>
        </li>
        <li>
            <div class="collapsible-header">English</div>
            <div class="collapsible-body">
                IGCSE(Cambridge University) - Complete
            </div>
        </li>
        <li>
            <div class="collapsible-header">Courses</div>
            <div class="collapsible-body">
                CESSI - ERP Software Implementator
                <br />Educacion IT -  .NET programming with C# .NET
                <br />Educacion IT - Ethical Hacking
                <br />Educacion IT - Introduction to Databases and SQL
                <br />UTN - Android programming
                <br />IAC - PC's repairing
            </div>
        </li>
    </ul>
    @*español*@
    <ul class="collapsible black-text white" lang="es">
        <li>
            <div class="collapsible-header">O.R.T. - Titulo: Analista de sistemas</div>
            <div class="collapsible-body">
                Enero 2015 - Actualidad
                <br />
                <br />Titulo: Analista de sistemas
                <br />18 materias aprobadas.
                <br />16 materias pendientes.
                <br />Año de finalizacion: 2019
            </div>
        </li>
        <li>
            <div class="collapsible-header">Saint Brendan's Collegue - Titulo: Bachiller con orientaci&oacuten en ciencias exactas</div>
            <div class="collapsible-body">
                Enero 1998 - Diciembre 2010
            </div>
        </li>
        <li>
            <div class="collapsible-header">Ingles</div>
            <div class="collapsible-body">
                IGCSE(Cambridge University) - Completo
            </div>
        </li>
        <li>
            <div class="collapsible-header">Cursos de sistemas</div>
            <div class="collapsible-body">
                CESSI - Implementador de software ERP
                <br />Educacion IT - Programacion .NET con C# .NET
                <br />Educacion IT - Ethical Hacking
                <br />Educacion IT - Introduccion a Base de Datos y SQL
                <br />UTN - Programacion Android
                <br />IAC - Reparaci&oacuten de PCs
            </div>
        </li>
    </ul>
</div>