@{
    ViewData["Title"] = "Jorge Tomas Guzman";
}


<ul class="title-bar">
    <li lang="en"><h1>Profile</h1></li>
    <li lang="es"><h1>Perfil</h1></li>
</ul>
<div class="page-content">
    <div class="container">
        <div class="profile-image">
            <img class="materialboxed circle profile-image" src="~/res/perfil.jpg">
        </div>
        <ul class="center">
            <li>
                <b lang="en">Name: </b>
                <b lang="es">Nombre: </b>
                Jorge Tom&aacutes Guzm&aacuten
            </li>
            <li>
                <b lang="en">Birth date: </b>
                <b lang="es">Fecha de Nacimiento: </b>
                06/04/1993
            </li>
            <li lang="en">
                <b>Nationality: </b>
                Argentinian
            </li>
            <li lang="es">
                <b>Nacionalidad: </b>
                Argentino
            </li>
            <li>
                <b lang="es">Adress: </b>
                <b lang="es">Direccion: </b>
                Argentina, Buenos Aires, Capital Federal
                <br />Av Ricardo Balbin 2558 1°A
            </li>
            <li>
                <b lang="en">P.C.: </b>
                <b lang="es">C.P.: </b>
                1428
            </li>
        </ul>
        <p lang="en">
            I present my Curriculum Vitae for your corresponding evaluation, aspiring to get a job opportunity at your company that adapts to my computer developer/analyst profile. As you will notice, I have more than 5 years of experience in the IT field. During that period i had the opportunity to work in different positions, gaining experience in WEB and Desktop app development, networking, telecommunications, mobile devices, databases, cloud plataforms, servers and infrastructure among others.
            <br />
            For all this reasons, I consider that my formation is ideal and I am in optimum conditions to make a contribution to your company development.
        </p>
        <p lang="es">
            Presento mi Curriculum Vitae para su correspondiente evaluaci&oacuten y asi poder aspirar a una oportunidad laboral en su empresa que se adapte mi perfil de desarrollador/analista de sistemas. Como podra notar, tengo mas de 5 años de experiencia en el area de IT, en dicho periodo tuve la oportunidad de trabajar en diferentes posiciones, obteniendo experiencia en desarrollo de aplicaciones WEB y escritorio, redes, telecomunicaciones, dispositivos moviles, Administrador de Bases de Datos, plataformas cloud, administrador de servidores e Infraestructura entre otros.
            <br />
            Por lo antes expuesto considero que mi formaci&oacuten es idonea y estoy en optimas condiciones para aportar al desarrollo de su empresa.
        </p>
    </div>
</div>