@{
    ViewData["Title"] = "Jorge Tomas Guzman";
}

<div class="container">
    <ul>
        <li><b>Nombre: </b>Jorge Tom&aacutes Guzm&aacuten</li>
        <li><b>Fecha de Nacimiento: </b>06/04/1993</li>
        <li><b>Nacionalidad: </b>Argentino</li>
        <li><b>Direccion: </b>Av Ricardo Balbin 2558 1°A</li>
        <li><b>C.P.: </b>1428</li>
    </ul>

    <p>
        Presento mi Curriculum Vitae para su correspondiente evaluaci&oacuten y asi poder aspirar a una oportunidad laboral en su empresa que se adapte mi perfil de desarrollador/analista de sistemas. Como podra notar, tengo mas de 5 años de experiencia en el area de IT, en dicho periodo tuve la oportunidad de trabajar en diferentes posiciones, obteniendo experiencia en desarrollo de aplicaciones WEB y escritorio, redes, telecomunicaciones, dispositivos moviles, Administrador de Bases de Datos, plataformas cloud, administrador de servidores e Infraestructura entre otros.
        <br />
        Por lo antes expuesto considero que mi formaci&oaacuten es idonea y estoy en optimas condiciones para aportar al desarrollo de su empresa.
    </p>
</div>